*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 100px;
    gap: 80px;
}
#left{
    height: 100%;
    width: 45%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    
}

#left h1{
    font-size: 140px;
    font-weight: 500;
    line-height: 145px;
    font-family: work sans;
    
}

#bottom-left{
    /* height: 40%; */
    width: 100%;
    /* background-color: yellow; */
}
#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #000;




}
#color h5{
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}
#color1{
    height: 30px;
    width: 30px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 5px;
}
#color2{
    height: 30px;
    width: 30px;
    background-color: orangered;
    border-radius: 50%;
}
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;

}

#left p{
    font-size: 20px;
    width: 80%;
    font-weight:  500;
    color: #444;
    line-height: 30px;
}

#right{
    height: 100%;
    width: 35%;
    /* background-color: green; */
    position: relative;
}
#right-top{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

#right-top h4{
    font-size: 30px;
    font-weight: 500;
    font-family: work sans;
}

#right-top h5{
    font-size: 16px;
}
#right-top h5 i{
    color: gold;
}

#right img{
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 10px 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
 
#black-gola{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #0d0816;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30%;
    left: 83%;
}
#black-gola h5{
    font-size: 25px;
    font-weight: 500;
}
#rotated{
    position: absolute;
    left: -10%;
    bottom: 5%;
    /* background-color: red; */
    rotate: -90deg;
    transform-origin: 0 0 ;
    font-size: 30px;
    font-weight: 400;
}